services:
  db:
    build:
      context: ./postgres
    image: coordinator-db:latest
    
    container_name: db

    env_file:
      - .env

    ports:
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data
    
    restart: unless-stopped

volumes:
  pgdata: